@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Tiny5&display=swap');
@import url('https://fonts.cdnfonts.com/css/apple-garamond');

/* General reset and font setup */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: ivory;
    display: flex;
    justify-content: center;
    font-family: 'Apple Garamond Light', sans-serif;

}

h1 {
    font-family: 'Tiny5','sans-serif';
    font-size: 65px;
    margin: 20px 0;
}

h4 {

    font-family: 'Apple Garamond Light', sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

.buttonwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    gap: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.buttons button{
    padding: 10px 30px;
    background-color: blanchedalmond;    
    font-family: 'Apple Garamond Light', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.buttons button:hover{
    background-color: #F9E0DF;
}

.acceptbutton {
    margin-top: 15px;
    padding: 12px 32px;
    background-color: #D1FAE0;
    font-weight: bold;
    font-family: 'Apple Garamond Light', sans-serif;
    font-size: 16px;
}
.acceptbutton:hover{
    background-color: #FACBC8;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.save {
    display: flex;
    justify-content: center;
    margin-top: 15px;
   
}

.save button {
    font-family: 'Apple Garamond Light', sans-serif;
    font-size: 16px;
    padding: 8px 28px;
    background-color: #ffad9b;
    font-weight: bold;
}

.save button:hover {
    background-color:#f4c273;
}

.uploaded-file-name {
    display: flex;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: -5px;
    font-weight: 600;
}

.file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
    border: 2px dashed #000;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: ivory;
    transition: background-color 0.2s;
    }
    
    .file-upload:hover {
    background-color: #F7F0FF;
    }
    
    .file-upload-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    }
    
    .file-upload-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.75rem;
    color: #000000;
    }
    
    .file-upload-text {
    margin-bottom: 0.5rem;
    font-size: 0.875rem;
    color: #000;
    }
    
    .font-semibold {
    font-weight: 600;
    }
    
    .file-upload-info {
    font-size: 0.75rem;
    font-weight: 500;
    color: #000;
    }
    
    .file-upload-input {
    display: none;
    }